In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [174]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_batsman = pd.read_csv('batsman_level_scorecard.csv')
df_bowler = pd.read_csv('bowler_level_scorecard.csv')
df_match = pd.read_csv('match_level_scorecard.csv')

In [175]:
df_train.head()

   match id     team1  ...  team1_winp_team2_last15 ground_avg_runs_last15
0  9331181   Ba        ...  100.0                    157.178571
1  8797060   Ed        ...  50.0                     103.500000
2  9433269   We        ...  0.0                      154.333333
3  9587073   Ga An Ws  ...  50.0                     144.250000
4  9516457   Pb Ks     ...  0.0                      189.000000

[5 rows x 23 columns]

In [176]:
df_test.head()

   match id     team1  ...  team1_winp_team2_last15 ground_avg_runs_last15
0  9250275   Jy        ...  0.00                    NaN
1  9262189   Ga An Ws  ...  66.67                    153.500
2  9128776   Rn Rs     ...  100.00                   179.625
3  9586919   Ja Ts     ...  75.00                    155.500
4  9128538   Ci Sr Ks  ...  0.00                     164.125

[5 rows x 21 columns]

In [177]:
## Print multiple output per cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [178]:
## Importing libraries
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [179]:
## Pandas Display options
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)

In [180]:
## Creating a binary winner column - 0 if team1 wins, else 1
df_train['winner_01'] = df_train.apply(lambda x: 0 if (x['team1']==x['winner']) else 1, axis=1)

In [181]:
def giveLastNgamesPlayer(player_id, date, n, bat_or_bowl):
    '''
    Function to get last n games stats of a player before an input date.
    
    Input-
    1. player_id: id of the player to get historical data.
    2. date: date to look-back and get n games. Stats returned are before this input date.
    3. n: Number of historical games stats to return.
    4. bat_or_bowl: Kind of stats to return. {'bat': batting stats to return, 'bowl': bowling stats to return}
    
    Output-None
    
    Returns- dataframe having bowling/batting stats from last n games of a player before an input date. 
    The results are sorted by date.
    '''
    if bat_or_bowl == 'bat':
        df_topick = df_batsman
        id_col = 'batsman_id'
    else:
        df_topick = df_bowler
        id_col = 'bowler_id'
        
    return df_topick[(df_topick['match_dt']<date)&(df_topick[id_col]==float(player_id))]\
                .sort_values(by='match_dt', ascending=False).head(n)

In [182]:
def no50sLastn(player_list, date, n):
    '''
    Function to get total number of 50s scored by players in the roster of a team in last n games.
    
    Input-
    1. player_list: ':' separated list of player ids in the roster of a team.
    2. date: match date of the game to calculate this feature.
    3. n: Number of games to look-back and create this feature.
    
    Output-None
    
    Returns- int value denoting sum of 50s scored by all players in the roster.
    '''
    
    player_list = str(player_list).split(':') # split string of ':' separated ids into a list of ids
    res_list = []
    for player in player_list: # loop over each player_id in roster
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bat') # getting batting stats from last n games for each player.
        df_rel['gte_50runs'] = np.where(df_rel['runs']>=50, 1, 0) # binary indicator to denote whether the player scored a 50 in the game (runs>=50).
        res_list.append(np.nansum(df_rel['gte_50runs']))# Sum up number of 50s for the player and append to a list. We will do this for all players.
    return np.nansum(res_list)# Sum up values of the list which is sum of 50s by all players in the roster.

# Computing number of 50 runs in last 15 games for team1 for train dataset.
df_train['team1_count_50runs_last15'] = df_train.progress_apply(lambda x: \
            no50sLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
# Computing number of 50 runs in last 15 games for team2 for train dataset.
df_train['team2_count_50runs_last15'] = df_train.progress_apply(lambda x: \
            no50sLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)
# Taking ratio of (number of 50 runs in last 15 games for team1) to (number of 50 runs in last 15 games for team2). Adding 1 to handle divide by zero exceptions.
df_train['team_count_50runs_last15'] = (df_train['team1_count_50runs_last15']+1)/(df_train['team2_count_50runs_last15']+1)
df_train.drop(columns=['team1_count_50runs_last15','team2_count_50runs_last15'], inplace=True) # dropping intermediate columns

## Doing similar process for test dataset

df_test['team1_count_50runs_last15'] = df_test.progress_apply(lambda x: \
            no50sLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team2_count_50runs_last15'] = df_test.progress_apply(lambda x: \
            no50sLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team_count_50runs_last15'] = (df_test['team1_count_50runs_last15'])/(df_test['team2_count_50runs_last15']+1)
df_test.drop(columns=['team1_count_50runs_last15','team2_count_50runs_last15'], inplace=True)

df_train.tail(2)
df_test.head(2)

100%|██████████| 948/948 [00:22<00:00, 42.75it/s]
100%|██████████| 948/948 [00:22<00:00, 42.78it/s]
100%|██████████| 271/271 [00:06<00:00, 43.25it/s]
100%|██████████| 271/271 [00:06<00:00, 41.75it/s]

     match id  team1  ...  ground_avg_runs_last15 winner_01
946  9516695   Rn Rs  ...  133.375000              1
947  9433633   He     ...  164.192308              1

[2 rows x 24 columns]

   match id     team1  ...  team1_winp_team2_last15 ground_avg_runs_last15
0  9250275   Jy        ...  0.00                    NaN
1  9262189   Ga An Ws  ...  66.67                    153.5

[2 rows x 21 columns]

In [183]:
def num5WHaulsLastN(player_list, date, n):
    """
    Function to get the total number of 5-wicket hauls by players in the roster of a team in the last n games.
    
    Input-
    1. player_list: ':' separated list of player ids in the roster of a team.
    2. date: match date of the game to calculate this feature.
    3. n: Number of games to look back and create this feature.
    
    Returns: int value denoting the sum of 5-wicket hauls by all players in the roster.
    """
    player_list = str(player_list).split(':')  # split string of ':' separated ids into a list of ids
    total_5w_hauls = 0
    for player in player_list:  # loop over each player_id in roster
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bowl')  # getting bowling stats from last n games for each player
        if not df_rel.empty and 'wicket_count' in df_rel.columns:
            total_5w_hauls += (df_rel['wicket_count'] >= 5).sum()  # count the number of 5-wicket hauls for the player
    return total_5w_hauls  # return the sum of 5-wicket hauls by all players in the roster
from tqdm import tqdm
tqdm.pandas()

# Computing number of 5-wicket hauls in last 15 games for team1 for train dataset.
df_train['team1_5w_hauls_last15'] = df_train.progress_apply(lambda x: \
            num5WHaulsLastN(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Computing number of 5-wicket hauls in last 15 games for team2 for train dataset.
df_train['team2_5w_hauls_last15'] = df_train.progress_apply(lambda x: \
            num5WHaulsLastN(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Taking ratio of (number of 5-wicket hauls in last 15 games for team1) to (number of 5-wicket hauls in last 15 games for team2). Adding 1 to handle divide by zero exceptions.
df_train['team_5w_hauls_last15_ratio'] = (df_train['team1_5w_hauls_last15'] + 1) / (df_train['team2_5w_hauls_last15'] + 1)

# Dropping intermediate columns
df_train.drop(columns=['team1_5w_hauls_last15', 'team2_5w_hauls_last15'], inplace=True)

# Doing similar process for test dataset
df_test['team1_5w_hauls_last15'] = df_test.progress_apply(lambda x: \
            num5WHaulsLastN(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)

df_test['team2_5w_hauls_last15'] = df_test.progress_apply(lambda x: \
            num5WHaulsLastN(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

df_test['team_5w_hauls_last15_ratio'] = (df_test['team1_5w_hauls_last15'] + 1) / (df_test['team2_5w_hauls_last15'] + 1)

df_test.drop(columns=['team1_5w_hauls_last15', 'team2_5w_hauls_last15'], inplace=True)

100%|██████████| 948/948 [00:16<00:00, 59.00it/s]
100%|██████████| 948/948 [00:15<00:00, 60.84it/s]
100%|██████████| 271/271 [00:04<00:00, 60.87it/s]
100%|██████████| 271/271 [00:04<00:00, 59.21it/s]

In [184]:
def no50sLastn(player_list, date, n):
    '''
    Function to get total number of 50s scored by players in the roster of a team in last n games.
    
    Input-
    1. player_list: ':' separated list of player ids in the roster of a team.
    2. date: match date of the game to calculate this feature.
    3. n: Number of games to look-back and create this feature.
    z
    Output-None
    
    Returns- int value denoting sum of 50s scored by all players in the roster.
    '''
    
    player_list = str(player_list).split(':') # split string of ':' separated ids into a list of ids
    res_list = []
    for player in player_list: # loop over each player_id in roster
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bat') # getting batting stats from last n games for each player.
        df_rel['gte_50runs'] = np.where(df_rel['runs']>=50, 1, 0) # binary indicator to denote whether the player scored a 50 in the game (runs>=50).
        res_list.append(np.nansum(df_rel['gte_50runs']))# Sum up number of 50s for the player and append to a list. We will do this for all players.
    return np.nansum(res_list)# Sum up values of the list which is sum of 50s by all players in the roster.

# Computing number of 50 runs in last 15 games for team1 for train dataset.
df_train['team1_count_50runs_last15'] = df_train.progress_apply(lambda x: \
            no50sLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
# Computing number of 50 runs in last 15 games for team2 for train dataset.
df_train['team2_count_50runs_last15'] = df_train.progress_apply(lambda x: \
            no50sLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)
# Taking ratio of (number of 50 runs in last 15 games for team1) to (number of 50 runs in last 15 games for team2). Adding 1 to handle divide by zero exceptions.
df_train['team_count_50runs_last15'] = (df_train['team1_count_50runs_last15']+1)/(df_train['team2_count_50runs_last15']+1)
df_train.drop(columns=['team1_count_50runs_last15','team2_count_50runs_last15'], inplace=True) # dropping intermediate columns

## Doing similar process for test dataset

df_test['team1_count_50runs_last15'] = df_test.progress_apply(lambda x: \
            no50sLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team2_count_50runs_last15'] = df_test.progress_apply(lambda x: \
            no50sLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team_count_50runs_last15'] = (df_test['team1_count_50runs_last15'])/(df_test['team2_count_50runs_last15']+1)
df_test.drop(columns=['team1_count_50runs_last15','team2_count_50runs_last15'], inplace=True)

df_train.tail(2)
df_test.head(2)

100%|██████████| 948/948 [00:22<00:00, 42.65it/s]
100%|██████████| 948/948 [00:21<00:00, 43.21it/s]
100%|██████████| 271/271 [00:06<00:00, 43.55it/s]
100%|██████████| 271/271 [00:06<00:00, 43.38it/s]

     match id  team1  ...  winner_01 team_5w_hauls_last15_ratio
946  9516695   Rn Rs  ...  1          1.0
947  9433633   He     ...  1          1.0

[2 rows x 25 columns]

   match id     team1  ...  ground_avg_runs_last15 team_5w_hauls_last15_ratio
0  9250275   Jy        ... NaN                      1.0
1  9262189   Ga An Ws  ...  153.5                   1.0

[2 rows x 22 columns]

In [185]:
def winpLastn(team_id, date, n):
    '''
    Get a team's win % in last n games. If a team has won 3 game out of their last 5, win% is 60%.
    
    Input-
    1. team_id: ID of the team to get their last n games and winner information from those games.
    2. date: match date from which to get last n historical games.
    3. n: look-back window of games.
    
    Output- None
    
    Returns- Float value denoting win% of the team in last n games.
    '''
    # filter out games with either team1/2_id as input team id, match_dt being before current game's date, sort desc by date, and get top n rows (games)
    df_rel = df_match[(df_match['match_dt']<date)&\
                      ((df_match['team1_id']==team_id)|(df_match['team2_id']==team_id))]\
                        .sort_values(by='match_dt', ascending=False).head(n) 
    win_count = df_rel[df_rel['winner_id']==team_id].shape[0] # count number of rows having winner as the input team
    if win_count == 0:
        return 0
    return round(win_count*100/df_rel.shape[0], 2) # return win% rounded to two decimal points

In [186]:
# Compute team1's win% in last 5 games
df_train['team1_winp_last5'] = df_train.progress_apply(lambda x: \
                                  winpLastn(x['team1_id'], x['match_dt'], 5), axis=1)
# Compute team2's win% in last 5 games
df_train['team2_winp_last5'] = df_train.progress_apply(lambda x: \
                                  winpLastn(x['team2_id'], x['match_dt'], 5), axis=1)

100%|██████████| 948/948 [00:01<00:00, 897.34it/s]
100%|██████████| 948/948 [00:01<00:00, 922.26it/s]

In [187]:
# Take the ratio of (team1's win% in their last 5 games)/(team2's win% in their last 5 games). Adding 1 to avoid divide by zero error
df_train['team_winp_last5'] = (df_train['team1_winp_last5']+1)/(df_train['team2_winp_last5']+1)
df_train.drop(columns=['team1_winp_last5', 'team2_winp_last5'], inplace=True) # drop intermediate columns

In [188]:
df_train.shape
df_train.head(5)

(948, 25)

   match id     team1  ...  winner_01 team_5w_hauls_last15_ratio
0  9331181   Ba        ...  1          2.0
1  8797060   Ed        ...  0          1.0
2  9433269   We        ...  0          0.5
3  9587073   Ga An Ws  ...  0          1.0
4  9516457   Pb Ks     ...  1          0.5

[5 rows x 25 columns]

In [189]:
## Similar process for test data

df_test['team1_winp_last5'] = df_test.progress_apply(lambda x: \
            winpLastn(team_id=x['team1_id'], date=x['match_dt'], n=5), axis=1)
df_test['team2_winp_last5'] = df_test.progress_apply(lambda x: \
            winpLastn(team_id=x['team2_id'], date=x['match_dt'], n=5), axis=1)
df_test['team_winp_last5'] = (df_test['team1_winp_last5']+1)/(df_test['team2_winp_last5']+1)
df_test.drop(columns=['team1_winp_last5','team2_winp_last5'], inplace=True)
df_test.shape
df_test.head(2)

100%|██████████| 271/271 [00:00<00:00, 932.07it/s]
100%|██████████| 271/271 [00:00<00:00, 967.86it/s]

(271, 22)

   match id     team1  ...  ground_avg_runs_last15 team_5w_hauls_last15_ratio
0  9250275   Jy        ... NaN                      1.0
1  9262189   Ga An Ws  ...  153.5                   1.0

[2 rows x 22 columns]

In [190]:
# derived feature computed using toss winner & toss decision to denote the inning team1 bats.
# If team1 won the toss and chose to bat or team2 won the toss and chose to bowl, the feature takes the value 1, else 2.
df_match['team1_bat_inning'] = np.where( ((df_match['team1']==df_match['toss winner'])&(df_match['toss decision']=='bat'))|\
                                               ((df_match['team2']==df_match['toss winner'])&(df_match['toss decision']=='field')) , 1, 2)


# In[28]:


df_match.head(2)

   match id  team1  team2  ... winner_id player_of_the_match_id  team1_bat_inning
0  8638034   Nn Ds  Wn     ...  18570    NaN                     1
1  8588005   Me Rs  Sy Tr  ...  33963     1749075.0              1

[2 rows x 31 columns]

In [191]:
def teamAvgRunsLastn(team_id, date, n):
    '''
    Function to calculate a team's average runs in their last n games.
    
    Input-
    1. team_id: ID of the team to calculate average runs.
    2. date: match date of the current game for which the feature is calculated.
    3. n: look-back window of games for the team.
    
    Output- None
    
    Return- Float value denoting average of runs scored by team1 in their last n games.
    '''
    # filter out games with either team1/2_id as input team_id, match date less than current game's input date, sort desc by date, and top n rows (games) returned
    df_rel = df_match[(df_match['match_dt']<date)&\
                      ((df_match['team1_id']==team_id)|(df_match['team2_id']==team_id))]\
                        .sort_values(by='match_dt', ascending=False).head(n)
    # combine two dataframes - one where input team is batting first, and another one where input team is batting second.
    df_rel = pd.concat([ df_rel[df_rel['team1_bat_inning']==1][['inning1_runs']].rename(columns={'inning1_runs':'runs'}), \
                         df_rel[df_rel['team1_bat_inning']==2][['inning2_runs']].rename(columns={'inning2_runs':'runs'}) ] )
    return df_rel['runs'].mean() # return mean of the combined dataframe.
  
  # Compute average runs scored by team1 in their last 15 games for train data.
df_train['team1only_avg_runs_last15'] = df_train.progress_apply(lambda x: \
                                  teamAvgRunsLastn(x['team1_id'], x['match_dt'], 15), axis=1)
df_test['team1only_avg_runs_last15'] = df_test.progress_apply(lambda x: \
            teamAvgRunsLastn(x['team1_id'], x['match_dt'], 15), axis=1)
  # Compute average runs scored by team2 in their last 15 games for train data.
df_train['team2only_avg_runs_last15'] = df_train.progress_apply(lambda x: \
                                  teamAvgRunsLastn(x['team2_id'], x['match_dt'], 15), axis=1)
df_test['team2only_avg_runs_last15'] = df_test.progress_apply(lambda x: \
            teamAvgRunsLastn(x['team2_id'], x['match_dt'], 15), axis=1)

# Create a ratio feature for the average bowling economy
df_train['team_avg_runs_last15'] = (df_train['team1only_avg_runs_last15']+1) / \
                                                (df_train['team2only_avg_runs_last15'] + 1)
df_test['team_avg_runs_last15'] = (df_test['team1only_avg_runs_last15']+1) / \
                                               (df_test['team2only_avg_runs_last15'] + 1)
                                               
df_train.drop(columns=['team1only_avg_runs_last15', 'team2only_avg_runs_last15'], inplace=True)
df_test.drop(columns=['team1only_avg_runs_last15', 'team2only_avg_runs_last15'], inplace=True)

df_test.head(2)
df_train.head(2)

100%|██████████| 948/948 [00:03<00:00, 308.73it/s]
100%|██████████| 271/271 [00:00<00:00, 304.15it/s]
100%|██████████| 948/948 [00:03<00:00, 306.77it/s]
100%|██████████| 271/271 [00:00<00:00, 312.67it/s]

   match id     team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9250275   Jy        ...  1.0                        NaN
1  9262189   Ga An Ws  ...  1.0                         0.896853

[2 rows x 22 columns]

   match id team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9331181   Ba    ...  2.0                         0.991629
1  8797060   Ed    ...  1.0                         0.977178

[2 rows x 25 columns]

In [192]:
def winpCrossLastn(team1_id, team2_id, date, n):
    '''
    Function to compute team1's win% against team2 from the current game in their past n encounters.
    
    Input-
    1. team1_id: ID of team1 to calculate win% of.
    2. team2_id: ID of team2 to calculate win% against.
    3: date: match date of the current game for which the feature is to be calculated.
    4. n: look-back window of games for both these teams.
    
    Output- None
    
    Returns- Float value denoting team1's win% against team2 in their past n games against each other.
    '''
    # filter out games where either team1_id is input team1 and team2_id is input team2, or where team2_id is input team1 and team1_id is input team2.
    # Also, match date is less than current games's input date, sort desc by date and get top n rows (games)
    df_rel = df_match[(df_match['match_dt']<date)&\
                      (((df_match['team1_id']==team1_id)&(df_match['team2_id']==team2_id))|((df_match['team1_id']==team2_id)&(df_match['team2_id']==team1_id)))]\
                        .sort_values(by='match_dt', ascending=False).head(n)
    win_count = df_rel[df_rel['winner_id']==team1_id].shape[0] # Counting number of rows (games) where winner is input team1.
    if win_count == 0:
        return 0
    return round(win_count*100/df_rel.shape[0], 2) # return Float denoting team1's win% against team2 in past n games rounded to 2 decimal places.

# Compute team1 win% against team2 in their past 15 encounters for train data.
df_train['team1_winp_team2_last15'] = df_train.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 5), axis=1)
df_test['team1_winp_team2_last15'] = df_test.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 5), axis=1)
df_train.head(2)
df_test.head(2)

100%|██████████| 948/948 [00:01<00:00, 717.59it/s]
100%|██████████| 271/271 [00:00<00:00, 728.39it/s]

   match id team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9331181   Ba    ...  2.0                         0.991629
1  8797060   Ed    ...  1.0                         0.977178

[2 rows x 25 columns]

   match id     team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9250275   Jy        ...  1.0                        NaN
1  9262189   Ga An Ws  ...  1.0                         0.896853

[2 rows x 22 columns]

In [193]:
def avgRunsGround(ground_id, date, n):
    '''
    Function to calculate average runs scored in ground/venue.
    
    Input-
    1. ground_id: ID of the ground to calculate the feature for.
    2. date: match date of the current game to calculate the feature for.
    3. n: look-back window of games for the ground.
    
    Output- None
    
    Returns- Average runs scored in the ground.
    '''
    # filter out games with ground_id being the input ground_id and date earlier than current game's input date. Sort desc by date, and select top n rows (games).
    df_rel = df_match[(df_match['match_dt']<date)&(df_match['ground_id']==ground_id)].sort_values(by='match_dt', ascending=False).head(n)
    df_rel['avg_runs_inn'] = (df_rel['inning1_runs']+df_rel['inning2_runs'])/2 # take the mean of inning1_runs and inning2_runs in a separate column.
    return df_rel['avg_runs_inn'].mean() # Return the mean value of the computed column above.

## Calculate average runs in the ground for last 15 games hosted in that venue for train data.
df_train['ground_avg_runs_last15'] = df_train.progress_apply(lambda x: \
                                  avgRunsGround(x['ground_id'], x['match_dt'], 15), axis=1)
## Similarly for test data.
df_test['ground_avg_runs_last15'] = df_test.progress_apply(lambda x: \
                                  avgRunsGround(x['ground_id'], x['match_dt'], 15), axis=1)

df_train.head(2)
df_test.head(2)

100%|██████████| 948/948 [00:01<00:00, 696.51it/s]
100%|██████████| 271/271 [00:00<00:00, 761.52it/s]

   match id team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9331181   Ba    ...  2.0                         0.991629
1  8797060   Ed    ...  1.0                         0.977178

[2 rows x 25 columns]

   match id     team1  ...  team_5w_hauls_last15_ratio team_avg_runs_last15
0  9250275   Jy        ...  1.0                        NaN
1  9262189   Ga An Ws  ...  1.0                         0.896853

[2 rows x 22 columns]

In [194]:
def avgBowlingEconomyLastn(player_list, date, n):
    
    player_list = str(player_list).split(':')  # split string of ':' separated ids into a list of ids
    economy_list = []
    for player in player_list:  # loop over each player_id in roster
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bowl')  # getting bowling stats from last n games for each player.
        df_rel['economy'] = df_rel['runs'] / (df_rel['balls_bowled'] / 6)  # Calculate economy rate
        economy_list.append(np.nanmean(df_rel['economy']))  # Append average economy rate to the list
    return np.nanmean(economy_list)  # Return the mean of the list which is the average economy rate of all players in the roster.

# Compute average bowling economy for team1 and team2 in their last 15 games for train dataset
df_train['team1_avg_bowling_economy_last15'] = df_train.progress_apply(lambda x: \
            avgBowlingEconomyLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_train['team2_avg_bowling_economy_last15'] = df_train.progress_apply(lambda x: \
            avgBowlingEconomyLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Similarly for test dataset
df_test['team1_avg_bowling_economy_last15'] = df_test.progress_apply(lambda x: \
            avgBowlingEconomyLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team2_avg_bowling_economy_last15'] = df_test.progress_apply(lambda x: \
            avgBowlingEconomyLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Create a ratio feature for the average bowling economy
df_train['team_avg_bowling_economy_last15'] = 1 - (df_train['team1_avg_bowling_economy_last15']+1) / \
                                                (df_train['team2_avg_bowling_economy_last15'] + 1)
df_test['team_avg_bowling_economy_last15'] = 1 - (df_test['team1_avg_bowling_economy_last15']+1) / \
                                               (df_test['team2_avg_bowling_economy_last15'] + 1)

df_train.drop(columns=['team1_avg_bowling_economy_last15', 'team2_avg_bowling_economy_last15'], inplace=True)
df_test.drop(columns=['team1_avg_bowling_economy_last15', 'team2_avg_bowling_economy_last15'], inplace=True)

# Checking the shape and head of the datasets
df_train.shape
df_train.head(2)
df_train.shape
df_test.head(2)

  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:8: RuntimeWarning: Mean of empty slice
  economy_list.append(np.nanmean(df_rel['economy']))  # Append average economy rate to the list
  2%|▏         | 16/948 [00:00<00:19, 46.63it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:9: RuntimeWarning: Mean of empty slice
  return np.nanmean(economy_list)  # Return the mean of the list which is the average economy rate of all players in the roster.
100%|██████████| 948/948 [00:22<00:00, 42.74it/s]
  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:8: RuntimeWarning: Mean of empty slice
  economy_list.append(np.nanmean(df_rel['economy']))  # Append average economy rate to the list
  6%|▌         | 57/948 [00:01<00:18, 48.60it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:9: RuntimeWarning: Mean of empty slice
  return np.nanmean(economy_list)  # Return the mean of the list which is the average economy rate of all players in the roster.
100%|██████████| 948/948 [00:28<00:00, 32.94it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:8: RuntimeWarning: Mean of empty slice
  economy_list.append(np.nanmean(df_rel['economy']))  # Append average economy rate to the list
C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:9: RuntimeWarning: Mean of empty slice
  return np.nanmean(economy_list)  # Return the mean of the list which is the average economy rate of all players in the roster.
100%|██████████| 271/271 [00:05<00:00, 46.12it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:8: RuntimeWarning: Mean of empty slice
  economy_list.append(np.nanmean(df_rel['economy']))  # Append average economy rate to the list
 95%|█████████▌| 258/271 [00:05<00:00, 45.59it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1793455629.py:9: RuntimeWarning: Mean of empty slice
  return np.nanmean(economy_list)  # Return the mean of the list which is the average economy rate of all players in the roster.
100%|██████████| 271/271 [00:05<00:00, 45.76it/s]

(948, 26)

   match id team1  ...  team_avg_runs_last15 team_avg_bowling_economy_last15
0  9331181   Ba    ...  0.991629              0.056633
1  8797060   Ed    ...  0.977178              0.028851

[2 rows x 26 columns]

(948, 26)

   match id     team1  ...  team_avg_runs_last15 team_avg_bowling_economy_last15
0  9250275   Jy        ... NaN                   NaN
1  9262189   Ga An Ws  ...  0.896853              0.0129

[2 rows x 23 columns]

In [195]:
def avgStrikeRateLastn(player_list, date, n):
    '''
    
    '''
    player_list = str(player_list).split(':')  # split string of ':' separated ids into a list of ids
    strike_rate_list = []
    for player in player_list:  # loop over each player_id in roster
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bat')  # getting batting stats from last n games for each player.
        df_rel['strike_rate'] = (df_rel['runs'] / df_rel['balls_faced']) * 100  # Calculate strike rate
        strike_rate_list.append(np.nanmean(df_rel['strike_rate']))  # Append average strike rate to the list
    return np.nanmean(strike_rate_list)  # Return the mean of the list which is the average strike rate of all players in the roster.

# Compute average strike rate for team1 and team2 in their last 15 games for train dataset
df_train['team1_avg_strike_rate_last15'] = df_train.progress_apply(lambda x: \
            avgStrikeRateLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_train['team2_avg_strike_rate_last15'] = df_train.progress_apply(lambda x: \
            avgStrikeRateLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Similarly for test dataset
df_test['team1_avg_strike_rate_last15'] = df_test.progress_apply(lambda x: \
            avgStrikeRateLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team2_avg_strike_rate_last15'] = df_test.progress_apply(lambda x: \
            avgStrikeRateLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

# Create a ratio feature for the average strike rate
df_train['team_avg_strike_rate_last15'] = (df_train['team1_avg_strike_rate_last15']+1) / \
                                            (df_train['team2_avg_strike_rate_last15'] + 1)
df_test['team_avg_strike_rate_last15'] = (df_test['team1_avg_strike_rate_last15'] +1)/ \
                                           (df_test['team2_avg_strike_rate_last15'] + 1)

df_train.drop(columns=['team1_avg_strike_rate_last15', 'team2_avg_strike_rate_last15'], inplace=True)
df_test.drop(columns=['team1_avg_strike_rate_last15', 'team2_avg_strike_rate_last15'], inplace=True)

# Checking the shape and head of the datasets
df_train.shape
df_train.head(2)
df_test.shape
df_test.head(2)

  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:10: RuntimeWarning: Mean of empty slice
  strike_rate_list.append(np.nanmean(df_rel['strike_rate']))  # Append average strike rate to the list
  2%|▏         | 17/948 [00:00<00:24, 38.52it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:11: RuntimeWarning: Mean of empty slice
  return np.nanmean(strike_rate_list)  # Return the mean of the list which is the average strike rate of all players in the roster.
100%|██████████| 948/948 [00:22<00:00, 42.38it/s]
  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:10: RuntimeWarning: Mean of empty slice
  strike_rate_list.append(np.nanmean(df_rel['strike_rate']))  # Append average strike rate to the list
  6%|▌         | 55/948 [00:01<00:20, 42.91it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:11: RuntimeWarning: Mean of empty slice
  return np.nanmean(strike_rate_list)  # Return the mean of the list which is the average strike rate of all players in the roster.
100%|██████████| 948/948 [00:22<00:00, 42.51it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:10: RuntimeWarning: Mean of empty slice
  strike_rate_list.append(np.nanmean(df_rel['strike_rate']))  # Append average strike rate to the list
 65%|██████▍   | 175/271 [00:04<00:02, 42.34it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:11: RuntimeWarning: Mean of empty slice
  return np.nanmean(strike_rate_list)  # Return the mean of the list which is the average strike rate of all players in the roster.
100%|██████████| 271/271 [00:07<00:00, 38.40it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\2261694220.py:10: RuntimeWarning: Mean of empty slice
  strike_rate_list.append(np.nanmean(df_rel['strike_rate']))  # Append average strike rate to the list
100%|██████████| 271/271 [00:06<00:00, 43.12it/s]

(948, 27)

   match id team1  ...  team_avg_bowling_economy_last15 team_avg_strike_rate_last15
0  9331181   Ba    ...  0.056633                         0.974171
1  8797060   Ed    ...  0.028851                         0.860877

[2 rows x 27 columns]

(271, 24)

   match id  ... team_avg_strike_rate_last15
0  9250275   ...  0.766039
1  9262189   ...  1.087214

[2 rows x 24 columns]

In [196]:
def avgTotalBoundariesLastn(player_list, date, n):
   
    player_list = str(player_list).split(':')
    total_boundaries = 0
    total_matches = 0
    
    for player in player_list:
        df_rel = giveLastNgamesPlayer(player_id=player, date=date, n=n, bat_or_bowl='bat')
        if not df_rel.empty and 'Fours' in df_rel.columns and 'Sixes' in df_rel.columns:
            total_boundaries += df_rel['Fours'].sum() + df_rel['Sixes'].sum()
            total_matches += len(df_rel)
    
    avg_boundaries = (total_boundaries / total_matches) if total_matches else np.nan
    
    return avg_boundaries

# Assuming df_train is your training DataFrame
df_train['team1_avg_total_boundaries_last15'] = df_train.progress_apply(lambda x: \
            avgTotalBoundariesLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_train['team2_avg_total_boundaries_last15'] = df_train.progress_apply(lambda x: \
            avgTotalBoundariesLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

df_train['team_avg_total_boundaries_last15'] = (df_train['team1_avg_total_boundaries_last15']+1)/ \
                                                (df_train['team2_avg_total_boundaries_last15'] + 1)

df_train.drop(columns=['team1_avg_total_boundaries_last15', 'team2_avg_total_boundaries_last15'], inplace=True)


# Assuming df_test is your testing DataFrame
df_test['team1_avg_total_boundaries_last15'] = df_test.progress_apply(lambda x: \
            avgTotalBoundariesLastn(player_list=x['team1_roster_ids'], date=x['match_dt'], n=15), axis=1)
df_test['team2_avg_total_boundaries_last15'] = df_test.progress_apply(lambda x: \
            avgTotalBoundariesLastn(player_list=x['team2_roster_ids'], date=x['match_dt'], n=15), axis=1)

df_test['team_avg_total_boundaries_last15'] = (df_test['team1_avg_total_boundaries_last15']+1) / \
                                               (df_test['team2_avg_total_boundaries_last15'] + 1)

df_test.drop(columns=['team1_avg_total_boundaries_last15', 'team2_avg_total_boundaries_last15'], inplace=True)

df_train.head(2)

df_test.head(2)

100%|██████████| 948/948 [00:19<00:00, 48.66it/s]
100%|██████████| 948/948 [00:22<00:00, 41.30it/s]
100%|██████████| 271/271 [00:05<00:00, 47.34it/s]
100%|██████████| 271/271 [00:07<00:00, 36.03it/s]

   match id  ... team_avg_total_boundaries_last15
0  9331181   ...  0.907129
1  8797060   ...  0.937388

[2 rows x 28 columns]

   match id  ... team_avg_total_boundaries_last15
0  9250275   ...  0.670732
1  9262189   ...  1.022600

[2 rows x 25 columns]

In [197]:
def avgWinMargin(team_id, date, n):
    df_team = df_match[((df_match['team1_id'] == team_id) | (df_match['team2_id'] == team_id)) & (df_match['winner_id'] == team_id)]
    df_team_last_n = df_team[df_team['match_dt'] < date].tail(n)
    win_margin_runs = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'runs']['win amount'])
    win_margin_wickets = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'wickets']['win amount'])
    return win_margin_runs, win_margin_wickets

df_train['team1_avg_win_margin_runs'], df_train['team1_avg_win_margin_wickets'] = zip(*df_train.progress_apply(lambda x: \
            avgWinMargin(team_id=x['team1_id'], date=x['match_dt'], n=15), axis=1))
df_train['team2_avg_win_margin_runs'], df_train['team2_avg_win_margin_wickets'] = zip(*df_train.progress_apply(lambda x: \
            avgWinMargin(team_id=x['team2_id'], date=x['match_dt'], n=15), axis=1))


df_train['team_avg_win_runs_ratio'], df_train['team_avg_win_wickets_ratio'] = (df_train['team1_avg_win_margin_runs'] + 1) / (df_train['team2_avg_win_margin_runs'] + 1),(df_train['team1_avg_win_margin_wickets']+1)/(df_train['team2_avg_win_margin_wickets']+1)


df_test['team1_avg_win_margin_runs'], df_test['team1_avg_win_margin_wickets'] = zip(*df_test.progress_apply(lambda x: \
            avgWinMargin(team_id=x['team1_id'], date=x['match_dt'], n=15), axis=1))
df_test['team2_avg_win_margin_runs'], df_test['team2_avg_win_margin_wickets'] = zip(*df_test.progress_apply(lambda x: \
            avgWinMargin(team_id=x['team2_id'], date=x['match_dt'], n=15), axis=1))
df_test['team_avg_win_runs_ratio'], df_test['team_avg_win_wickets_ratio'] = (df_test['team1_avg_win_margin_runs'] + 1) / (df_test['team2_avg_win_margin_runs'] + 1),(df_test['team1_avg_win_margin_wickets']+1)/(df_test['team2_avg_win_margin_wickets']+1)

df_train.drop(columns=['team1_avg_win_margin_runs', 'team2_avg_win_margin_runs'], inplace=True),df_train.drop(columns=['team1_avg_win_margin_wickets', 'team2_avg_win_margin_wickets'],inplace=True)
df_test.drop(columns=['team1_avg_win_margin_runs', 'team2_avg_win_margin_runs'], inplace=True)

df_train.head()

df_test.head()

  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:4: RuntimeWarning: Mean of empty slice
  win_margin_runs = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'runs']['win amount'])
C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:5: RuntimeWarning: Mean of empty slice
  win_margin_wickets = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'wickets']['win amount'])
100%|██████████| 948/948 [00:02<00:00, 452.56it/s]
  0%|          | 0/948 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:5: RuntimeWarning: Mean of empty slice
  win_margin_wickets = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'wickets']['win amount'])
C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:4: RuntimeWarning: Mean of empty slice
  win_margin_runs = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'runs']['win amount'])
100%|██████████| 948/948 [00:02<00:00, 410.98it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:4: RuntimeWarning: Mean of empty slice
  win_margin_runs = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'runs']['win amount'])
C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:5: RuntimeWarning: Mean of empty slice
  win_margin_wickets = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'wickets']['win amount'])
100%|██████████| 271/271 [00:00<00:00, 367.56it/s]
  0%|          | 0/271 [00:00<?, ?it/s]C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:5: RuntimeWarning: Mean of empty slice
  win_margin_wickets = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'wickets']['win amount'])
C:\Users\5502\AppData\Local\Temp\ipykernel_10524\1725236096.py:4: RuntimeWarning: Mean of empty slice
  win_margin_runs = np.nanmean(df_team_last_n[df_team_last_n['by'] == 'runs']['win amount'])
100%|██████████| 271/271 [00:00<00:00, 467.27it/s]

(None, None)

   match id     team1  ...  team_avg_win_runs_ratio team_avg_win_wickets_ratio
0  9331181   Ba        ...  1.172566                 0.975000
1  8797060   Ed        ...  2.282913                 1.107143
2  9433269   We        ...  0.807314                 1.155556
3  9587073   Ga An Ws  ...  1.131274                 0.900000
4  9516457   Pb Ks     ...  0.728000                 0.953947

[5 rows x 30 columns]

   match id     team1  ...  team_avg_win_runs_ratio team_avg_win_wickets_ratio
0  9250275   Jy        ... NaN                      NaN
1  9262189   Ga An Ws  ...  0.397527                 1.416667
2  9128776   Rn Rs     ...  0.841165                 0.928571
3  9586919   Ja Ts     ...  1.152597                 1.200000
4  9128538   Ci Sr Ks  ...  1.308176                NaN

[5 rows x 29 columns]

In [198]:
df_train.drop(columns=['winner_01'], inplace=True) # Dropping intermediate column made to plot RnP.

In [199]:
df_train['winner_01'] = df_train.apply(lambda x: 1 if (x['team2_id']==x['winner_id']) else 0, axis=1)

In [200]:
df_train['toss_winner_01'] = np.where(df_train['toss winner']==df_train['team2'], 1, 0)
df_test['toss_winner_01'] = np.where(df_test['toss winner']==df_test['team2'], 1, 0)
## Toss decision - categorical - 1 if winner bats, 0 otherwise

df_train['toss_decision_01'] = np.where(df_train['toss decision']=='bat', 1, 0)
df_test['toss_decision_01'] = np.where(df_test['toss decision']=='bat', 1, 0)

In [201]:
df_train.head()

   match id     team1  team1_id  ... winner_01 toss_winner_01  toss_decision_01
0  9331181   Ba        11283     ...  1         1              0
1  8797060   Ed        20        ...  0         1              0
2  9433269   We        10576     ...  0         1              0
3  9587073   Ga An Ws  36084     ...  0         0              1
4  9516457   Pb Ks     30407     ...  1         1              0

[5 rows x 32 columns]

In [202]:
import pandas as pd
import numpy as np
from tqdm import tqdm



def lightingEffectiveness(team_name, lighting, date, n):
    df_team = df_match[((df_match['team1'] == team_name) | (df_match['team2'] == team_name)) & 
                       (df_match['lighting'] == lighting) & 
                       (df_match['match_dt'] < date)]
    

    df_team_last_n = df_team.sort_values(by='match_dt', ascending=False).head(n)
    
   
    wins_under_lighting = df_team_last_n[df_team_last_n['winner'] == team_name]
    
    effectiveness = len(wins_under_lighting) / len(df_team_last_n) if len(df_team_last_n) > 0 else 0
    
    return effectiveness


tqdm.pandas()


df_train['team1_lighting_effectiveness'] = df_train.progress_apply(lambda x: 
    lightingEffectiveness(team_name=x['team1'], lighting=x['lighting'], date=x['match_dt'], n=15), axis=1)
df_train['team2_lighting_effectiveness'] = df_train.progress_apply(lambda x: 
    lightingEffectiveness(team_name=x['team2'], lighting=x['lighting'], date=x['match_dt'], n=15), axis=1)


df_test['team1_lighting_effectiveness'] = df_test.progress_apply(lambda x: 
    lightingEffectiveness(team_name=x['team1'], lighting=x['lighting'], date=x['match_dt'], n=15), axis=1)
df_test['team2_lighting_effectiveness'] = df_test.progress_apply(lambda x: 
    lightingEffectiveness(team_name=x['team2'], lighting=x['lighting'], date=x['match_dt'], n=15), axis=1)


df_train['lighting_effectiveness_ratio'] = (df_train['team1_lighting_effectiveness'] + 1) / (df_train['team2_lighting_effectiveness'] + 1)
df_test['lighting_effectiveness_ratio'] = (df_test['team1_lighting_effectiveness'] + 1) / (df_test['team2_lighting_effectiveness'] + 1)


df_train.drop(columns=['team1_lighting_effectiveness', 'team2_lighting_effectiveness'], inplace=True)
df_test.drop(columns=['team1_lighting_effectiveness', 'team2_lighting_effectiveness'], inplace=True)

100%|██████████| 948/948 [00:02<00:00, 380.28it/s]
100%|██████████| 948/948 [00:01<00:00, 619.54it/s]
100%|██████████| 271/271 [00:00<00:00, 644.89it/s]
100%|██████████| 271/271 [00:00<00:00, 635.41it/s]

In [203]:
def get_last_5_avg_runs(df, team_name, ground_id, match_date):
    team_matches = df[((df['team1'] == team_name) | (df['team2'] == team_name)) & 
                      (df['ground_id'] == ground_id) & 
                      (df['match_dt'] < match_date)]
    
    last_5_matches = team_matches.sort_values(by='match_dt', ascending=False).head(5)
    
    # Calculate the average runs
    runs = []
    for index, row in last_5_matches.iterrows():
        if row['team1'] == team_name:
            runs.append(row['inning1_runs'])
        elif row['team2'] == team_name:
            runs.append(row['inning2_runs'])
    
    if runs:
        return sum(runs) / len(runs)
    else:
        return 0
    
# Function to calculate the ratio for each row in train_data
def calculate_runs_ratio(row, match_df):
    team1_avg_runs = get_last_5_avg_runs(match_df, row['team1'], row['ground_id'], row['match_dt'])
    team2_avg_runs = get_last_5_avg_runs(match_df, row['team2'], row['ground_id'], row['match_dt'])
    
    if team2_avg_runs == 0:
        return 2
    else:
        return team1_avg_runs / team2_avg_runs

# Apply the function to each row in train_data to calculate the ratio
df_train['runs_ratio_last_5'] = df_train.progress_apply(lambda row: calculate_runs_ratio(row, df_match), axis=1)
df_test['runs_ratio_last_5'] = df_test.progress_apply(lambda row: calculate_runs_ratio(row, df_match), axis=1)
df_train.head()
df_test.head()

100%|██████████| 948/948 [00:02<00:00, 352.63it/s]
100%|██████████| 271/271 [00:00<00:00, 360.41it/s]

   match id     team1  ...  lighting_effectiveness_ratio runs_ratio_last_5
0  9331181   Ba        ...  0.500000                      0.847134
1  8797060   Ed        ...  0.500000                      0.990385
2  9433269   We        ...  0.937500                      0.570292
3  9587073   Ga An Ws  ...  0.855615                      0.757009
4  9516457   Pb Ks     ...  0.920000                      2.000000

[5 rows x 34 columns]

   match id     team1  ...  lighting_effectiveness_ratio runs_ratio_last_5
0  9250275   Jy        ...  0.500000                      2.000000
1  9262189   Ga An Ws  ...  0.937500                      2.000000
2  9128776   Rn Rs     ...  0.894444                      1.058537
3  9586919   Ja Ts     ...  1.333333                      0.960814
4  9128538   Ci Sr Ks  ...  0.960000                      0.000000

[5 rows x 33 columns]

In [204]:
import pandas as pd
import numpy as np
from tqdm import tqdm


def seasonEffectiveness(team_name, season, date):
    # Filter matches for the given team, season, and before the specified date
    df_team = df_match[((df_match['team1'] == team_name) | (df_match['team2'] == team_name)) & 
                       (df_match['season'] == season) & 
                       (df_match['match_dt'] < date)]
    
    wins_in_season = df_team[df_team['winner'] == team_name]
 
    effectiveness = len(wins_in_season) / len(df_team) if len(df_team) > 0 else 0
    
    return effectiveness

tqdm.pandas()


df_train['team1_season_effectiveness'] = df_train.progress_apply(lambda x: 
    seasonEffectiveness(team_name=x['team1'], season=x['season'], date=x['match_dt']), axis=1)
df_train['team2_season_effectiveness'] = df_train.progress_apply(lambda x: 
    seasonEffectiveness(team_name=x['team2'], season=x['season'], date=x['match_dt']), axis=1)


df_test['team1_season_effectiveness'] = df_test.progress_apply(lambda x: 
    seasonEffectiveness(team_name=x['team1'], season=x['season'], date=x['match_dt']), axis=1)
df_test['team2_season_effectiveness'] = df_test.progress_apply(lambda x: 
    seasonEffectiveness(team_name=x['team2'], season=x['season'], date=x['match_dt']), axis=1)


df_train['season_effectiveness_ratio'] = (df_train['team1_season_effectiveness'] + 1) / (df_train['team2_season_effectiveness'] + 1)
df_test['season_effectiveness_ratio'] = (df_test['team1_season_effectiveness'] + 1) / (df_test['team2_season_effectiveness'] + 1)


df_train.drop(columns=['team1_season_effectiveness', 'team2_season_effectiveness'], inplace=True)
df_test.drop(columns=['team1_season_effectiveness', 'team2_season_effectiveness'], inplace=True)

100%|██████████| 948/948 [00:01<00:00, 762.84it/s]
100%|██████████| 948/948 [00:01<00:00, 739.24it/s]
100%|██████████| 271/271 [00:00<00:00, 801.32it/s]
100%|██████████| 271/271 [00:00<00:00, 758.42it/s]

In [205]:
train_null = df_train.isna().sum()
test_null = df_test.isna().sum()
train_null
test_null

match id                            0
team1                               0
team1_id                            0
team1_roster_ids                    0
team2                               0
team2_id                            0
team2_roster_ids                    0
winner                              0
winner_id                           0
toss winner                         0
toss decision                       0
venue                               0
city                                0
match_dt                            0
lighting                            0
series_name                         0
season                              0
ground_id                           0
team_count_50runs_last15            0
team_winp_last5                     0
team1_winp_team2_last15             0
ground_avg_runs_last15              53
team_5w_hauls_last15_ratio          0
team_avg_runs_last15                35
team_avg_bowling_economy_last15     21
team_avg_strike_rate_last15         20
team_avg_total_boundaries_last15    20
team_avg_win_runs_ratio             137
team_avg_win_wickets_ratio          122
winner_01                           0
toss_winner_01                      0
toss_decision_01                    0
lighting_effectiveness_ratio        0
runs_ratio_last_5                   0
season_effectiveness_ratio          0
dtype: int64

match id                            0
team1                               0
team1_id                            0
team1_roster_ids                    0
team2                               0
team2_id                            0
team2_roster_ids                    0
toss winner                         0
toss decision                       0
venue                               0
city                                0
match_dt                            0
lighting                            0
series_name                         0
season                              0
ground_id                           0
team_count_50runs_last15            0
team_winp_last5                     0
team1_winp_team2_last15             0
ground_avg_runs_last15              10
team_5w_hauls_last15_ratio          0
team_avg_runs_last15                9
team_avg_bowling_economy_last15     4
team_avg_strike_rate_last15         2
team_avg_total_boundaries_last15    2
team1_avg_win_margin_wickets        24
team2_avg_win_margin_wickets        26
team_avg_win_runs_ratio             40
team_avg_win_wickets_ratio          38
toss_winner_01                      0
toss_decision_01                    0
lighting_effectiveness_ratio        0
runs_ratio_last_5                   0
season_effectiveness_ratio          0
dtype: int64

In [206]:
df_train.isna().to_csv('null.csv')

In [207]:
# Get the rows where team_avg_strike_rate is null
null_strike_rate_rows = df_train[df_train['ground_avg_runs_last15'].isna()]
null_strike_rate_rows.head()
null_strike_rate_rows.shape

    match id  team1  ...  runs_ratio_last_5 season_effectiveness_ratio
6   9292548   Aa     ...  2.0                0.984615
21  9866373   Oo     ...  2.0                0.500000
34  9176320   Nw Zd  ...  2.0                1.200000
56  9249162   Ch Rc  ...  2.0                0.666667
96  9484481   Le Qs  ...  2.0                1.000000

[5 rows x 35 columns]

(53, 35)

In [208]:
null_avg_runs_rows = df_train[df_train['team_avg_bowling_economy_last15'].isna()]
null_avg_runs_rows.head()
null_avg_runs_rows.shape

     match id  team1  ...  runs_ratio_last_5 season_effectiveness_ratio
19   9657059   Ra     ...  0.000000           1.000000
56   9249162   Ch Rc  ...  2.000000           0.666667
133  9684576   Ma     ...  0.572687           1.000000
179  9250387   Se     ...  2.000000           1.000000
182  9684177   Ma     ...  2.000000           1.000000

[5 rows x 35 columns]

(21, 35)

In [217]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.impute import SimpleImputer
from itertools import combinations, product
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer  # Enable IterativeImputer
from sklearn.impute import IterativeImputer

# Assuming df_train and df_test are defined
# Extract features and labels from the training and test data
features = [
    'toss_winner_01', 'toss_decision_01','lighting_effectiveness_ratio', 'team_count_50runs_last15', 'team_winp_last5', 
    'team_avg_runs_last15', 'team1_winp_team2_last15', 'runs_ratio_last_5',
    'team_avg_bowling_economy_last15', 'team_avg_strike_rate_last15', 
    'team_avg_win_runs_ratio', 'team_avg_win_wickets_ratio','team_5w_hauls_last15_ratio'
]

# Handling missing values using SimpleImputer
numerical_features = [
    'team_count_50runs_last15', 'team_winp_last5','lighting_effectiveness_ratio', 'team_avg_runs_last15', 
    'team1_winp_team2_last15', 'team_avg_bowling_economy_last15', 'runs_ratio_last_5',
    'team_avg_strike_rate_last15', 'team_avg_win_runs_ratio', 'team_avg_win_wickets_ratio'
]
categorical_features = ['toss_winner_01', 'toss_decision_01']

knn_imputer = KNNImputer(n_neighbors=3)
df_train[numerical_features] = knn_imputer.fit_transform(df_train[numerical_features])
df_test[numerical_features] = knn_imputer.transform(df_test[numerical_features])




X_train, y_train = df_train[features], df_train['winner_01']
X_new = df_test[features]

In [216]:
from sklearn.model_selection import train_test_split

# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(df_train[features], df_train['winner_01'], train_size=0.8, random_state=42)
X_train.shape, X_test.shape

((758, 13), (190, 13))

In [246]:
class BlendedModel:
    def __init__(self,xgb_params,lgbm_params):
        self.model_xgb = XGBClassifier(**xgb_params)
        self.model_lgbm = LGBMClassifier(**lgbm_params)
       
        
        

    def fit(self, X_train, y_train, X_val, y_val):
        self.model_xgb.fit(X_train, y_train, eval_set=[(X_val, y_val)])
        self.model_lgbm.fit(X_train, y_train, eval_set=[(X_val, y_val)])
        
        
    
        
    def predict_proba(self, X):
        
        pred_xgb = self.model_xgb.predict_proba(X)[:, 1]
        pred_lgbm = self.model_lgbm.predict_proba(X)[:, 1]
   
    
        return (  pred_xgb +pred_lgbm ) / 2
        

    def predict(self, X):
        blended_pred = self.predict_proba(X)
        return (blended_pred > 0.5).astype(int)

    def evaluate(self, X, y):
        predictions = self.predict(X)
        print(classification_report(y, predictions))
    
    def feature_importances_(self):
        imp_xgb = self.model_xgb.feature_importances_
        imp_lgbm = self.model_lgbm.feature_importances_
      
        
        return ( imp_xgb+imp_lgbm )/2

In [286]:



## Define parameter sets for each model
params_xgb = {
    'n_estimators': 200,
    'learning_rate': 0.05,
    'max_depth': 2,
    'subsample': 0.8,
    'colsample_bytree': 0.5,
    'min_child_weight': 1,
    'gamma': 1.2,
    'reg_alpha': 0.1,
    'reg_lambda': 1,
    'objective': 'binary:logistic',
    'eval_metric': 'logloss',
    'random_state': 50
}


params_lgbm={
    'n_estimators': 90,
    'learning_rate': 0.05,
    'num_leaves': 50,
    'max_depth': 2,
    'min_data_in_leaf': 10,
    'bagging_fraction': 0.85,
    'bagging_freq': 5,
    'objective': 'binary',
    'random_state': 42
}



# Initialize blended model
classifier_rf =BlendedModel(params_xgb,params_lgbm,)

# Train the blended model
classifier_rf.fit(X_train, y_train, X_test, y_test)

# Predictions on training set

# Evaluate the blended model
classifier_rf.evaluate(X_test, y_test)

# Refined parameters for Gradient Boosting

# Initialize blended model

[0]	validation_0-logloss:0.69059
[1]	validation_0-logloss:0.68698
[2]	validation_0-logloss:0.68357
[3]	validation_0-logloss:0.68194
[4]	validation_0-logloss:0.68000
[5]	validation_0-logloss:0.67889
[6]	validation_0-logloss:0.67634
[7]	validation_0-logloss:0.67532
[8]	validation_0-logloss:0.67407
[9]	validation_0-logloss:0.67294
[10]	validation_0-logloss:0.67063
[11]	validation_0-logloss:0.66980
[12]	validation_0-logloss:0.66809
[13]	validation_0-logloss:0.66657
[14]	validation_0-logloss:0.66654
[15]	validation_0-logloss:0.66473
[16]	validation_0-logloss:0.66381
[17]	validation_0-logloss:0.66282
[18]	validation_0-logloss:0.66170
[19]	validation_0-logloss:0.65990
[20]	validation_0-logloss:0.65887
[21]	validation_0-logloss:0.65677
[22]	validation_0-logloss:0.65651
[23]	validation_0-logloss:0.65523
[24]	validation_0-logloss:0.65367
[25]	validation_0-logloss:0.65364
[26]	validation_0-logloss:0.65264
[27]	validation_0-logloss:0.65145
[28]	validation_0-logloss:0.65024
[29]	validation_0-logloss:0.64880
[30]	validation_0-logloss:0.64763
[31]	validation_0-logloss:0.64673
[32]	validation_0-logloss:0.64612
[33]	validation_0-logloss:0.64522
[34]	validation_0-logloss:0.64444
[35]	validation_0-logloss:0.64365
[36]	validation_0-logloss:0.64352
[37]	validation_0-logloss:0.64261
[38]	validation_0-logloss:0.64221
[39]	validation_0-logloss:0.64102
[40]	validation_0-logloss:0.64088
[41]	validation_0-logloss:0.63937
[42]	validation_0-logloss:0.63889
[43]	validation_0-logloss:0.63742
[44]	validation_0-logloss:0.63534
[45]	validation_0-logloss:0.63413
[46]	validation_0-logloss:0.63313
[47]	validation_0-logloss:0.63254
[48]	validation_0-logloss:0.63197
[49]	validation_0-logloss:0.63157
[50]	validation_0-logloss:0.63090
[51]	validation_0-logloss:0.62981
[52]	validation_0-logloss:0.62779
[53]	validation_0-logloss:0.62726
[54]	validation_0-logloss:0.62668
[55]	validation_0-logloss:0.62513
[56]	validation_0-logloss:0.62419
[57]	validation_0-logloss:0.62326
[58]	validation_0-logloss:0.62282
[59]	validation_0-logloss:0.62182
[60]	validation_0-logloss:0.62161
[61]	validation_0-logloss:0.62099
[62]	validation_0-logloss:0.61991
[63]	validation_0-logloss:0.61904
[64]	validation_0-logloss:0.61815
[65]	validation_0-logloss:0.61712
[66]	validation_0-logloss:0.61681
[67]	validation_0-logloss:0.61636
[68]	validation_0-logloss:0.61616
[69]	validation_0-logloss:0.61512
[70]	validation_0-logloss:0.61452
[71]	validation_0-logloss:0.61396
[72]	validation_0-logloss:0.61309
[73]	validation_0-logloss:0.61297
[74]	validation_0-logloss:0.61237
[75]	validation_0-logloss:0.61152
[76]	validation_0-logloss:0.61124
[77]	validation_0-logloss:0.61072
[78]	validation_0-logloss:0.60988
[79]	validation_0-logloss:0.60954
[80]	validation_0-logloss:0.60878
[81]	validation_0-logloss:0.60825
[82]	validation_0-logloss:0.60711
[83]	validation_0-logloss:0.60628
[84]	validation_0-logloss:0.60622
[85]	validation_0-logloss:0.60551
[86]	validation_0-logloss:0.60493
[87]	validation_0-logloss:0.60386
[88]	validation_0-logloss:0.60351
[89]	validation_0-logloss:0.60279
[90]	validation_0-logloss:0.60218
[91]	validation_0-logloss:0.60204
[92]	validation_0-logloss:0.60116
[93]	validation_0-logloss:0.60065
[94]	validation_0-logloss:0.59927
[95]	validation_0-logloss:0.59832
[96]	validation_0-logloss:0.59798
[97]	validation_0-logloss:0.59772
[98]	validation_0-logloss:0.59782
[99]	validation_0-logloss:0.59732
[100]	validation_0-logloss:0.59674
[101]	validation_0-logloss:0.59668
[102]	validation_0-logloss:0.59650
[103]	validation_0-logloss:0.59633
[104]	validation_0-logloss:0.59586
[105]	validation_0-logloss:0.59541
[106]	validation_0-logloss:0.59495
[107]	validation_0-logloss:0.59439
[108]	validation_0-logloss:0.59378
[109]	validation_0-logloss:0.59357
[110]	validation_0-logloss:0.59310
[111]	validation_0-logloss:0.59321
[112]	validation_0-logloss:0.59214
[113]	validation_0-logloss:0.59080
[114]	validation_0-logloss:0.59057
[115]	validation_0-logloss:0.59059
[116]	validation_0-logloss:0.59054
[117]	validation_0-logloss:0.59017
[118]	validation_0-logloss:0.58980
[119]	validation_0-logloss:0.59006
[120]	validation_0-logloss:0.58946
[121]	validation_0-logloss:0.58886
[122]	validation_0-logloss:0.58878
[123]	validation_0-logloss:0.58854
[124]	validation_0-logloss:0.58779
[125]	validation_0-logloss:0.58759
[126]	validation_0-logloss:0.58678
[127]	validation_0-logloss:0.58628
[128]	validation_0-logloss:0.58586
[129]	validation_0-logloss:0.58459
[130]	validation_0-logloss:0.58431
[131]	validation_0-logloss:0.58351
[132]	validation_0-logloss:0.58315
[133]	validation_0-logloss:0.58237
[134]	validation_0-logloss:0.58233
[135]	validation_0-logloss:0.58224
[136]	validation_0-logloss:0.58161
[137]	validation_0-logloss:0.58111
[138]	validation_0-logloss:0.58008
[139]	validation_0-logloss:0.57995
[140]	validation_0-logloss:0.57935
[141]	validation_0-logloss:0.57883
[142]	validation_0-logloss:0.57803
[143]	validation_0-logloss:0.57778
[144]	validation_0-logloss:0.57773
[145]	validation_0-logloss:0.57679
[146]	validation_0-logloss:0.57608
[147]	validation_0-logloss:0.57574
[148]	validation_0-logloss:0.57590
[149]	validation_0-logloss:0.57575
[150]	validation_0-logloss:0.57538
[151]	validation_0-logloss:0.57465
[152]	validation_0-logloss:0.57397
[153]	validation_0-logloss:0.57349
[154]	validation_0-logloss:0.57311
[155]	validation_0-logloss:0.57254
[156]	validation_0-logloss:0.57211
[157]	validation_0-logloss:0.57201
[158]	validation_0-logloss:0.57163
[159]	validation_0-logloss:0.57121
[160]	validation_0-logloss:0.57091
[161]	validation_0-logloss:0.57043
[162]	validation_0-logloss:0.56989
[163]	validation_0-logloss:0.56899
[164]	validation_0-logloss:0.56830
[165]	validation_0-logloss:0.56805
[166]	validation_0-logloss:0.56744
[167]	validation_0-logloss:0.56714
[168]	validation_0-logloss:0.56734
[169]	validation_0-logloss:0.56697
[170]	validation_0-logloss:0.56645
[171]	validation_0-logloss:0.56620
[172]	validation_0-logloss:0.56596
[173]	validation_0-logloss:0.56567
[174]	validation_0-logloss:0.56503
[175]	validation_0-logloss:0.56427
[176]	validation_0-logloss:0.56364
[177]	validation_0-logloss:0.56351
[178]	validation_0-logloss:0.56301
[179]	validation_0-logloss:0.56254
[180]	validation_0-logloss:0.56221
[181]	validation_0-logloss:0.56250
[182]	validation_0-logloss:0.56174
[183]	validation_0-logloss:0.56143
[184]	validation_0-logloss:0.56111
[185]	validation_0-logloss:0.56074
[186]	validation_0-logloss:0.56034
[187]	validation_0-logloss:0.56009
[188]	validation_0-logloss:0.55944
[189]	validation_0-logloss:0.55833
[190]	validation_0-logloss:0.55803
[191]	validation_0-logloss:0.55792
[192]	validation_0-logloss:0.55741
[193]	validation_0-logloss:0.55679
[194]	validation_0-logloss:0.55578
[195]	validation_0-logloss:0.55516
[196]	validation_0-logloss:0.55484
[197]	validation_0-logloss:0.55476
[198]	validation_0-logloss:0.55431
[199]	validation_0-logloss:0.55362
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=0.85, subsample=1.0 will be ignored. Current value: bagging_fraction=0.85
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[1]	valid_0's binary_logloss: 0.69117
[2]	valid_0's binary_logloss: 0.687863
[3]	valid_0's binary_logloss: 0.685243
[4]	valid_0's binary_logloss: 0.682873
[5]	valid_0's binary_logloss: 0.680214
[6]	valid_0's binary_logloss: 0.677818
[7]	valid_0's binary_logloss: 0.675661
[8]	valid_0's binary_logloss: 0.67372
[9]	valid_0's binary_logloss: 0.673008
[10]	valid_0's binary_logloss: 0.67171
[11]	valid_0's binary_logloss: 0.670129
[12]	valid_0's binary_logloss: 0.668698
[13]	valid_0's binary_logloss: 0.667328
[14]	valid_0's binary_logloss: 0.66611
[15]	valid_0's binary_logloss: 0.664622
[16]	valid_0's binary_logloss: 0.661941
[17]	valid_0's binary_logloss: 0.660439
[18]	valid_0's binary_logloss: 0.658317
[19]	valid_0's binary_logloss: 0.656352
[20]	valid_0's binary_logloss: 0.654543
[21]	valid_0's binary_logloss: 0.65314
[22]	valid_0's binary_logloss: 0.65219
[23]	valid_0's binary_logloss: 0.650923
[24]	valid_0's binary_logloss: 0.649792
[25]	valid_0's binary_logloss: 0.649091
[26]	valid_0's binary_logloss: 0.646969
[27]	valid_0's binary_logloss: 0.645766
[28]	valid_0's binary_logloss: 0.643938
[29]	valid_0's binary_logloss: 0.642416
[30]	valid_0's binary_logloss: 0.641063
[31]	valid_0's binary_logloss: 0.639856
[32]	valid_0's binary_logloss: 0.638766
[33]	valid_0's binary_logloss: 0.637876
[34]	valid_0's binary_logloss: 0.636946
[35]	valid_0's binary_logloss: 0.636198
[36]	valid_0's binary_logloss: 0.635448
[37]	valid_0's binary_logloss: 0.634768
[38]	valid_0's binary_logloss: 0.63415
[39]	valid_0's binary_logloss: 0.633735
[40]	valid_0's binary_logloss: 0.63304
[41]	valid_0's binary_logloss: 0.631766
[42]	valid_0's binary_logloss: 0.631586
[43]	valid_0's binary_logloss: 0.630153
[44]	valid_0's binary_logloss: 0.629166
[45]	valid_0's binary_logloss: 0.628026
[46]	valid_0's binary_logloss: 0.628034
[47]	valid_0's binary_logloss: 0.627328
[48]	valid_0's binary_logloss: 0.626563
[49]	valid_0's binary_logloss: 0.626825
[50]	valid_0's binary_logloss: 0.626181
[51]	valid_0's binary_logloss: 0.625317
[52]	valid_0's binary_logloss: 0.624165
[53]	valid_0's binary_logloss: 0.623629
[54]	valid_0's binary_logloss: 0.622916
[55]	valid_0's binary_logloss: 0.621958
[56]	valid_0's binary_logloss: 0.620852
[57]	valid_0's binary_logloss: 0.62022
[58]	valid_0's binary_logloss: 0.619545
[59]	valid_0's binary_logloss: 0.618983
[60]	valid_0's binary_logloss: 0.618437
[61]	valid_0's binary_logloss: 0.617244
[62]	valid_0's binary_logloss: 0.616035
[63]	valid_0's binary_logloss: 0.615377
[64]	valid_0's binary_logloss: 0.61429
[65]	valid_0's binary_logloss: 0.613709
[66]	valid_0's binary_logloss: 0.612096
[67]	valid_0's binary_logloss: 0.610618
[68]	valid_0's binary_logloss: 0.609488
[69]	valid_0's binary_logloss: 0.608443
[70]	valid_0's binary_logloss: 0.607474
[71]	valid_0's binary_logloss: 0.6065
[72]	valid_0's binary_logloss: 0.606092
[73]	valid_0's binary_logloss: 0.605198
[74]	valid_0's binary_logloss: 0.604839
[75]	valid_0's binary_logloss: 0.60419
[76]	valid_0's binary_logloss: 0.603495
[77]	valid_0's binary_logloss: 0.60308
[78]	valid_0's binary_logloss: 0.602954
[79]	valid_0's binary_logloss: 0.602803
[80]	valid_0's binary_logloss: 0.601996
[81]	valid_0's binary_logloss: 0.601447
[82]	valid_0's binary_logloss: 0.600938
[83]	valid_0's binary_logloss: 0.600466
[84]	valid_0's binary_logloss: 0.600028
[85]	valid_0's binary_logloss: 0.599482
[86]	valid_0's binary_logloss: 0.599478
[87]	valid_0's binary_logloss: 0.599541
[88]	valid_0's binary_logloss: 0.599662
[89]	valid_0's binary_logloss: 0.598249
[90]	valid_0's binary_logloss: 0.597866
              precision    recall  f1-score   support

           0       0.79      0.86      0.83        99
           1       0.83      0.76      0.79        91

    accuracy                           0.81       190
   macro avg       0.81      0.81      0.81       190
weighted avg       0.81      0.81      0.81       190

In [288]:
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
prediction = classifier_rf.predict(X_test)
confusion_matrix(y_test, prediction)
accuracy_score(y_test, prediction)

array([[85, 14],
       [22, 69]], dtype=int64)

0.8105263157894737

In [296]:
df_train['y_pred_01'] = classifier_rf.predict(df_train[features])
df_train['win_pred_score'] = classifier_rf.predict_proba(df_train[features])
df_train['win_pred_score'] = np.where((df_train['y_pred_01'] == 0), (1 - df_train['win_pred_score']), df_train['win_pred_score'])
df_train['win_pred_team_id'] = np.where((df_train['y_pred_01'] == 0), (df_train['team1_id']), df_train['team2_id'])

# Predictions on test set
df_test['y_pred_01'] = classifier_rf.predict(X_new)
df_test['win_pred_score'] = classifier_rf.predict_proba(X_new)
df_test['win_pred_score'] = np.where((df_test['y_pred_01'] == 0), (1 - df_test['win_pred_score']), df_test['win_pred_score'])
df_test['win_pred_team_id'] = np.where((df_test['y_pred_01'] == 0), (df_test['team1_id']), df_test['team2_id'])

In [297]:
# Get feature importances
feature_importances = classifier_rf.feature_importances_()

# Create a DataFrame for feature importances
df_feat_importance = pd.DataFrame({'feat_name': X_train.columns.tolist(), 'model_feat_imp_train': feature_importances * 1.00})\
                      .sort_values(by='model_feat_imp_train', ascending=False).reset_index(drop=True).head(10)

print(df_feat_importance)

                         feat_name  model_feat_imp_train
0  team_count_50runs_last15         24.554325
1  lighting_effectiveness_ratio     24.044701
2  team_avg_strike_rate_last15      17.552551
3  team_avg_bowling_economy_last15  17.040013
4  team_avg_runs_last15             9.535537
5  team_avg_win_runs_ratio          9.534340
6  team_winp_last5                  9.035264
7  runs_ratio_last_5                7.034734
8  team_avg_win_wickets_ratio       6.036522
9  team_5w_hauls_last15_ratio       5.033082

In [298]:
df_train['dataset_type'] = 'train'
df_test['dataset_type'] = 'r1'

In [299]:
df_file1 = pd.concat([df_test[['match id','dataset_type','win_pred_team_id','win_pred_score',] + list(df_feat_importance['feat_name'].head(10))], \
                     df_train[['match id','dataset_type','win_pred_team_id','win_pred_score',] + list(df_feat_importance['feat_name'].head(10))]])

renaming_dict = {}
for i,col in enumerate(list(df_feat_importance['feat_name'].head(10))):
    renaming_dict[col] = f'indep_feat_id{i+1}'
df_file1.rename(columns=renaming_dict, inplace=True)

for i in range(1,11):
    if f'indep_feat_id{i}' not in df_file1.columns:
        df_file1[f'indep_feat_id{i}'] = np.nan


df_file1['train_algorithm'] = 'XGBClassifier;LGBMClassifier'
df_file1['is_ensemble'] = 'yes'
df_file1['train_hps_trees'] = '200;90'
df_file1['train_hps_depth'] = '2;2;2'
df_file1['train_hps_lr'] = '0.05;0.05;0.05'

In [300]:
df_file1.shape
df_file1.head()

(1219, 19)

   match id dataset_type  ...  train_hps_depth    train_hps_lr
0  9250275   r1           ...  2;2;2            0.05;0.05;0.05
1  9262189   r1           ...  2;2;2            0.05;0.05;0.05
2  9128776   r1           ...  2;2;2            0.05;0.05;0.05
3  9586919   r1           ...  2;2;2            0.05;0.05;0.05
4  9128538   r1           ...  2;2;2            0.05;0.05;0.05

[5 rows x 19 columns]

In [301]:
feature_desc = {'team_count_50runs_last15':'Ratio of number of 50s by players in team1 to number of 50s by players in team2 in last 15 games',\
               'team_winp_last5':'Ratio of team1\'s win % to team2\'s win % in last 5 games',\
               'ground_avg_runs_last15':'average runs scored in the ground in last 15 games',\
               'team1_winp_team2_last15':'Team1\'s win percentage against Team2 in last 15 games',\
               'team1only_avg_runs_last15':'team1\'s avg inning runs in last 15 games',\
                
               'toss_winner_01' : 'Toss winner to numerical - 1 if team2 wins, else 0',\
               'toss_decision_01' : 'Toss decision - categorical - 1 if winner bats, 0 otherwise'}

In [302]:
# df_feat_importance.rename(index={0:'feat_id'}, inplace=True)
df_file2 = df_feat_importance
df_file2['feat_id'] = [i+1 for i in df_file2.index]
df_file2['feat_rank_train'] = [i+1 for i in df_file2.index]
df_file2 = df_file2.set_index('feat_id')
df_file2['feat_description'] = df_file2['feat_name'].map(feature_desc)

In [241]:
df_file2

                               feat_name  ...                                                                                  feat_description
feat_id                                   ...
1        team_count_50runs_last15         ...  Ratio of number of 50s by players in team1 to number of 50s by players in team2 in last 15 games
2        lighting_effectiveness_ratio     ...  NaN
3        team_avg_strike_rate_last15      ...  NaN
4        team_avg_bowling_economy_last15  ...  NaN
5        team_avg_win_runs_ratio          ...  NaN
6        team_avg_runs_last15             ...  NaN
7        team_winp_last5                  ...  Ratio of team1's win % to team2's win % in last 5 games
8        runs_ratio_last_5                ...  NaN
9        team_avg_win_wickets_ratio       ...  NaN
10       team_5w_hauls_last15_ratio       ...  NaN

[10 rows x 4 columns]

In [303]:
df_file2 = df_file2.fillna('average')

In [304]:
df_file1.to_csv('2024_DS_Track_File1_YoManas@IITG.csv', index=False)
df_file2.to_csv('2024_DS_Track_File2_YoManas@IITG.csv')